:root 
{
    --xxlarge_font: 24px;
    --xlarge_font: 18px;
    --large_font: 15px;
    --medium_font: 12px;
    --small_font: 10px;

    --xxlarge_space: 24px;
    --xlarge_space: 18px;
    --large_space: 15px;
    --medium_space: 12px;
    --small_space: 8px;

    --font_family: Arial, sans-serif;
    --std_border: solid 1px rgb(190,190,190);
    --border_color: rgb(190,190,190);
}

/* Tag styles */
*, a
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1
{
    font-size: var(--xxlarge_font);
    font-weight: bold;
}

h2
{
    font-size: var(--xlarge_font);
    font-weight: bold;
}

h3
{
    font-size: var(--large_font);
    font-weight: bold;
}

body
{
    font-family: var(--font_family);
    font-size: var(--medium_font);
}


input, textarea, select, option
{
    font-family: var(--font_family);
    font-size: var(--medium_font);
    padding: calc( var(--medium_space) - var(--small_space) / 4.0 );
    border-radius: var(--small_space);
}

hr
{
    border: var(--std_border);
}


table
{
    border: var(--std_border);
}


th
{
    padding: var(--small_space);
    text-align: left;
}


td
{
    padding: var(--small_space);
}

img
{
    width: 100%;
    height: auto;
}

/* Classes */
.small
{
    font-size: var(--small_font);
}

.b
{
    font-weight: bold;
}

.card 
{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: var(--small_space);
    display: inline-block;
}

.col
{
    display: flex;
    flex-direction: column;
}

.card > *
{    
    margin: var(--small_space);
}

.card_fit_top > :first-child
{    
    margin: 0;
    border-top-left-radius: var(--small_space);
    border-top-right-radius: var(--small_space);
}  

/* On mouse-over, add a deeper shadow */
.card:hover 
{
    box-shadow: 0 var(--small_space) var(--xlarge_space) 0 rgba(0,0,0,0.2);
}

.col.col_gap > :nth-child(n+2)
{
    margin-top: var(--medium_space);
}

.row
{
    display: flex;
    flex-direction: row;
}

.row.row_gap > :nth-child(n+2)
{
    margin-left: var(--medium_space);
}

.flex_resp_row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_resp_row.gap
{
    padding-right: var(--medium_space);
    padding-bottom: var(--medium_space);
}

.flex_resp_row.gap > *
{
    margin-left: var(--medium_space);
    margin-top: var(--medium_space);
}

.flex_resp_row.remove_outer_gap
{
    margin-left: calc(var(--medium_space) * -1);
    margin-top: calc(var(--medium_space) * -1);
    padding: 0;
}

.resp_row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.resp_row > *
{
    flex-basis: 100%;
}

.resp_row_gap > :nth-child(n+2)
{
    margin-top: var(--medium_space);
}

.full_screen
{
    width: 100%;
    min-height: 100vw;
}

.loader
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vw;
    background-color: rgba(0,0,0,0.85);
    z-index: 1000;
}

.two_items_on_tablet
{
}

.three_items_on_desktop
{
}

.four_items_on_full_hd
{
}

.logo 
{
    height: 64px;
    width: auto;
}

.image_preview 
{
    height: auto;
    width: 100%;
}


.medium_padding
{
    padding: var(--medium_space);
}


.large_padding
{
    padding: var(--large_space);
}


.print
{
    display: none;
}

.no_print
{
    display: block;
}

.no_display
{
    display: none;
}

.hide
{
    visibility: hidden;
}

.flex_center
{
    justify-content: center;
}
.flex_one_on_mobile > *
{
    flex-basis: 100%;
}
.flex_two_on_tablet > *
{
}
.flex_three_on_desktop > *
{
}
.flex_four_on_full_hd > *
{
}
.flex_1
{
    flex: 1;
}
.flex_2
{
    flex: 2;
}

.flex_stretch
{
    justify-content: stretch;
}


.flex_space
{
    justify-content: space-between;
}


.flex_cross_center
{
    align-items: center;
}

.flex_cross_left
{
    align-items: start;
}

.text_center
{
    text-align: center;
}
a 
{
    text-decoration: none;
    color: rgb(49, 110, 163);
}
  
a:hover 
{
    transition: color .9s ease;
    color: rgb(77, 77, 77);
}

.button
{
    padding: var(--medium_space);
    background-color: rgb(77, 77, 77);
    color: white;
    font-weight: bold;
    border-radius: var(--small_space);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 0;
}


.button:hover
{
    background-color: rgb(49, 110, 163);
}

/* Media Queries */
@media screen and (max-width:767px) 
{
}

@media screen and (min-width:768px) 
{
    .two_items_on_tablet > *
    {
        flex-basis: 50%;
    }
    
    .resp_row_gap > :nth-child(1n)
    {
        margin-top: 0;
        margin-left: 0;
    }

    .two_items_on_tablet.resp_row_gap > *
    {
        flex-basis: calc( 50% - ( var(--medium_space) / 2.0 ) );
    }

    .two_items_on_tablet.resp_row_gap > :nth-child(n+3)
    {
        margin-top: var(--medium_space);
    }

    .two_items_on_tablet.resp_row_gap > :nth-child(n+2)
    {
        margin-left: var(--medium_space);
    }

    .two_items_on_tablet.resp_row_gap > :nth-child(2n+1)
    {
        margin-left: 0;
    }

    .flex_two_on_tablet > *
    {
        flex-basis: 50%;
    }    

    .flex_two_on_tablet.gap > *
    {
        flex-basis: calc( 50% - ( 3 * var(--medium_space) / 2.0 ) );
    }

    .flex_two_on_tablet.gap.remove_outer_gap > *
    {
        flex-basis: calc( 50% - ( 2.0 * var(--medium_space) / 2.0 ) );
    }
}

@media screen and (min-width:1366px) 
{
    .three_items_on_desktop > *
    {
        flex-basis: 33.33333333%;
    }

    .two_items_on_tablet.resp_row_gap > :nth-child(1n)
    {
        margin-top: 0;
        margin-left: 0;
    }

    .three_items_on_desktop.resp_row_gap > *
    {
        flex-basis: calc( 33.33333333% - ( 2.0 * var(--medium_space) / 3.0 ) );
    }

    .three_items_on_desktop.resp_row_gap > :nth-child(n+4)
    {
        margin-top: var(--medium_space);
    }

    .three_items_on_desktop.resp_row_gap > :nth-child(n+2)
    {
        margin-left: var(--medium_space);
    }

    .three_items_on_desktop.resp_row_gap > :nth-child(3n+1)
    {
        margin-left: 0;
    }

    .flex_three_on_desktop > *
    {
        flex-basis: 33.33333333%;
    }

    .flex_three_on_desktop.gap > *
    {
        flex-basis: calc( 33.33333333% - ( 4 * var(--medium_space) / 3.0 ) );
    }
    
    .flex_three_on_desktop.gap.remove_outer_gap > *
    {
        flex-basis: calc( 33.33333333% - ( 3 * var(--medium_space) / 3.0 ) );
    }
}

@media screen and (min-width:1920px) 
{
    
    .four_items_on_full_hd > *
    {
        flex-basis: 25%;
    }

    .three_items_on_desktop.resp_row_gap > :nth-child(1n)
    {
        margin-top: 0;
        margin-left: 0;
    }

    .four_items_on_full_hd.resp_row_gap > *
    {
        flex-basis: calc( 25% - ( 3.0 * var(--medium_space) / 4.0 ) );
    }

    .four_items_on_full_hd.resp_row_gap > :nth-child(n+5)
    {
        margin-top: var(--medium_space);
    }

    .four_items_on_full_hd.resp_row_gap > :nth-child(n+2)
    {
        margin-left: var(--medium_space);
    }

    .four_items_on_full_hd.resp_row_gap > :nth-child(4n+1)
    {
        margin-left: 0;
    }

    .flex_four_on_full_hd > *
    {
        flex-basis: 25%;
    }

    .flex_four_on_full_hd.gap > *
    {
        flex-basis: calc( 25% - ( 5 * var(--medium_space) / 4.0 ) );
    }
    
    .flex_four_on_full_hd.gap.remove_outer_gap > *
    {
        flex-basis: calc( 25% - ( 4 * var(--medium_space) / 4.0 ) );
    }
}


@media print 
{ 
    body > form 
    {
        width: 100%;
    } 
    .no_print
    {
        display: none;
    } 
    .print
    {
        display: block;
    }
}
